<!-- Header section -->
<link href="/css/navbar.css" rel="stylesheet" />
<section id="header">
	<div class="header container">
		<div class="nav-bar">
			<div class="brand">
				<a href="#home"
					><h1><span>F</span>ortune <span>F</span>olks</h1></a
				>
			</div>
			<div class="nav-list">
				<div class="hamburger"><div class="bar"></div></div>
				<ul>
					<!-- <li> <img src="./images/nav-img.jpeg" alt="nav-image" class="nav-img">  </li> -->
					<!-- <li> <a href="#home"     data-after="Home">Home</a></li> -->
					<li><a href="#about" data-after="About">About</a></li>
					<li><a href="#joinus" data-after="joinus">Donate</a></li>
					<!--   <li> <a href="#team"   data-after="team">team</a></li> -->
					<li><a href="#contact" data-after="Contact">Contact</a></li>
					<li>
						<a href="/login" data-after="Register">
							<button type="button" class="join-btn">LOGIN</button></a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<script src="/js/navbar.js"></script>
