<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>This is the home page of our website</h1>
		<% if (isauth) { %>

		<div>
			<h2>Name:<%= user.firstName+" "+user.lastName %></h2>
			<h2>Food Donated: <%= user.foodDonated %></h2>
			<h2>Food Requested: <%= user.foodRequested %></h2>
		</div>
		<a href="/logout">logout</a>
<<<<<<< HEAD
		<a href="/donate">Donate</a>
=======
        <a href="/donate">Donate</a>
>>>>>>> a15ae5addd35f4cd0e46d68238db00c48b90455b
		<% } else { %>
		<a href="/register">Register</a>
		<a href="/login">Login</a>
		<% } %>
	</body>
</html>
