<h1>User Register</h1>
<%if (error) {%> <%= error %> <% } %>
<form action="/register" method="POST">
	<div>
		<label for="fname">First Name</label>
		<input type="text" id="fname" name="fname" />
	</div>

	<div>
		<label for="lname">Last Name</label>
		<input type="text" id="lname" name="lname" />
	</div>

	<div>
		<label for="dob">Date Of Birth</label>
		<input type="date" id="dob" name="dob" />
	</div>

	<div>
		<lable for="email">Email</lable>
		<input type="email" id="email" name="email" />
	</div>

	<div>
		<lable for="password">Password</lable>
		<input type="password" id="password" name="password" />
	</div>

	<div>
		<lable for="mobileNo">Mobile Number</lable>
		<input type="text" id="mobileNo" name="mobileNo" />
	</div>

	<button type="submit">Submit</button>
</form>
<a href="/login">Login</a>
