<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				background-color: black;
			}
			img {
				height: 100vh;
				width: 100vw;
			}
		</style>
		<link rel="stylesheet" href="/css/dashboard.css" />
		<link rel="stylesheet" href="/css/fortunefolks.css" />
		<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<%- include("_navbar",{isauth:isauth}) -%>
		<img src="/images/Work_criteria.jpeg" />
	</body>
</html>
